<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/cf4302401e.js" crossorigin="anonymous"></script>



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%=urlMain %>/Css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=urlMain %>/Css/all.min.css">
    <link rel="stylesheet" type="text/css" href="<%=urlMain %>/Css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="<%=urlMain %>/Css/rateit.css">
    <link rel="stylesheet" href="<%=urlMain %>/Css/fab.css">
    <link rel="stylesheet" type="text/css" media="screen" href="Css/sheet.css" />
    <title>Items</title>
    <link rel="shortcut icon" href="image/food.png" />
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="container-fluid">
                <div class="row">
                    <!--sidbar-->
                    <div class=" col-xl-2  col-lg-3 col-md-4 sidebar ">

                        <ul class="navbar-nav flex-column mt-0 ml-0 ">
                            <li style="background-color: #FA640F ;height: 50px;margin: 0;width: 400px; " id="li1">
                                <h2 style="color: #FFFFFF;font-weight: bold;margin-left: 10px;">
                                    <%=name%>
                                </h2>
                            </li>
                            <li class="nav-item sidebar-link" style="margin-top: 65px">
                                <a href="/dashboard" class="nav-link text-dark p-3 mb-2 ">
                                    <i class="fas fa-home fa-lg text-dark mr-3" aria-hidden="true"></i> Dashboard</a>
                            </li>
                            <li class="nav-item sidebar-link">
                                <a href="/category" class="nav-link text-dark p-3 mb-2  ">
                                    <i class="fas fa-list-alt fa-lg text-dark mr-3 " aria-hidden="true"></i> Category
                                </a>
                            </li>
                            <li class="nav-item sidebar-link">
                                <a href="/meal_prodect" class="nav-link text-light p-3 mb-2 current">
                                    <i class="fas fa-utensils fa-lg  text-light mr-3" aria-hidden="true"></i> Meal Products</a>
                            </li>
                            <li class="nav-item sidebar-link">
                                <a href="/addoffer" class="nav-link text-dark p-3 mb-2 ">
                                    <i class="fas fa-gift fa-lg text-dark mr-3" aria-hidden="true"></i> Offer</a>
                            </li>
                            <li class="nav-item sidebar-link">
                                <a href="/appusers" class="nav-link text-dark p-3 mb-2 ">
                                    <i class="fas fa-users fa-lg text-dark mr-3" aria-hidden="true"></i> App Users</a>
                            </li>


                            <li class="nav-item sidebar-link">
                                <a href="/slidershow" class="nav-link text-dark p-3 mb-2 ">
                                    <i class="fas fa-bell fa-lg text-dark mr-3" aria-hidden="true"></i> Slider show </a>
                            </li>
                            <li class="nav-item sidebar-link">
                                <a href="/setting" class="nav-link text-dark p-3 mb-2 ">
                                    <i class="fas fa-user-cog fa-lg text-dark mr-3" style="color: #576A85;" aria-hidden="true"></i>Setting</a>
                            </li>




                        </ul>


                    </div>

                    <div class=" col-xl-10 col-lg-9 col-md-8 " style=" z-index: 1;background-color: white; position: fixed;top:70px ; right: 0px;;height: 60px">
                        <div class="row">
                            <div class="col ml-4 pl-3 ml-4">
                                <p class="textstayle">I<span>tems</span>
                                </p>

                            </div>


                        </div>




                    </div>



                </div>

                <div style="height: 300px;">
                    <br><br><br><br><br><br><br><br><br><br>
                    <button type="button" id="btnAddNewMeal" data-toggle="modal" data-target="#AddNewMeal" style="position: absolute;left: 350px; width: 170px;height: 40px ;background-color: #FA640F;border: 0;border-radius: 7px;" class="btn btn-primary">Add New Meal</button>

                </div>




                <!--end of sidebar-->
                <!--top nav-->
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-white fixed-top  top-navbar " style="height: 60px;  ">
                    <div class="row">
                        <div class="col-md-4 col-lg-8 ">


                        </div>

                        <div class="col-md-8 col-lg-4">
                            <ul class="navbar-nav">
                                <li class="nav-item icon-parent" style="margin:15px ;">
                                    <a href="#" class="nav-link icon-bullet">
                                        <i class="fas fa-comments text-muted fa-lg"></i>
                                    </a>
                                </li>
                                <li class="nav-item icon-parent" style="margin-top:15px ; margin-right: 12px;">
                                    <a href="#" class="nav-link icon-bullet">
                                        <i class="fas fa-bell text-muted fa-lg"></i>
                                    </a>
                                </li>
                                <li class="nav-item" style="margin-top:5px ; margin-bottom: 5px;">

                                    <a href="#">
                                            <img src="image/Admin/<%=image%>" width="50" height="50" class="rounded-circle">
                                        </a>


                                </li>
                                <li class="nav-item ml-md-auto" style="margin:15px ;">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#sign-out">
                                        <i class="fas fa-sign-out-alt text-danger fa-lg"></i>
                                    </a>
                                </li>

                            </ul>

                        </div>


                    </div>




                </div>




                <!--end top nav-->


            </div>
        </div>

        </div>



    </nav>
    <div class="modal" id="sign-out">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Want to Leave ?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Press logout to leave
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">
                      Stay Here
                    </button>
                    <a href="http://192.168.1.12:8081/logout" class="btn btn-danger"> logout</a>
                </div>
            </div>
        </div>

    </div>






    <!--End of card-->
    <!-- Table-->
    <section>
        <div class="container-fluid">
            <div class="row mb-15 ">
                <div class="col-xl-10 col-lg-8 col-md-6 ml-auto">

                    <div class="row  ">
                        <div class="col-12">
                            <div style="height:60px ;background-color:#576A85; ">
                                <h2 style="color: white;font-size: 20px;padding: 15px;font-weight: bold">Orders Details
                                </h2>

                                <div class="row justify-content-between  bg-white " style="background-color:#576A85;margin-left: 0;margin-right: 0px;">

                                    <div class="card-body table-responsive px-0 ">
                                        <table class="table table-striped " id="TableMealData" style="width:100% ; background-color: #FFFFFF;">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Meal Name</th>
                                                    <th>Meal Price</th>
                                                    <th>Image</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </section>
    <!--End of Table-->

    <!--Start Model 1-->
    <div class="modal fade" id="AddNewMeal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">
                        <p class="textstayle">A<span>dd</span> N<span>ew</span> M<span>eal</p></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">

                    <form id="FormAddNewMeal">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Category Name:</label>
                            <select class="custom-select" id="Add_SelectCategory">
                                 </select>
                        </div>


                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Meal Name:</label>
                            <input type="text" class="form-control" id="AddNewMeal_MealName">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Price:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>

                                </div>
                                <input type="text" id="AddNewMeal_price" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Descriptopn:</label>
                            <textarea class="form-control" id="AddNewMeal_desc"> </textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label text-lg">Meal Image:</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="AddNewMeal_MealIcon">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary " value="Add Meal" style="background-color: #FA640F;border: none;">
                            <button type="button" class="btn btn-secondary ml-auto text-light" style="background-color: #576A85;border: none;" data-dismiss="modal">Close</button>

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>





    <!--End Model-->
    <!--Start Model 2-->
    <div class="modal fade" id="ActionRemoveMeal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <p class="textstayle"> R<span>emove</span> C<span>ategory</p></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <form id="FormRemoveMeal">
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">
                            Are sure to Remove this <strong style="color: red;"> Food</strong>?
                        </div>

                    </div>
                    <div class="modal-footer">

                        <input type="submit" class="btn btn-primary mr-auto" value="Yes" style="width: 100px;">
                        <button type="button" class="btn btn-secondary" style="width: 100px;" data-dismiss="modal">No</button>

                    </div>
                </form>


            </div>
        </div>
    </div>
    </div>
    <!--end Model -->
    <!--Start Model 3-->
    <div class="modal fade" id="ActionEditMeal" tabindex="-1" role="dialog" aria-labelledby="UpdateMealTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="UpdateMealTitle">
                        <p class="textstayle">U<span>pdate</span> M<span>eal</p></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">

                    <form id="FormEditMeal">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Category Name:</label>
                            <select class="custom-select" id="Edit_SelectCategory">
                               
                               
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Meal Name:</label>
                            <input type="text" id="EditMeal_mealName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Price:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>

                                </div>
                                <input type="text" id="EditMeal_price" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Descriptopn:</label>
                            <textarea class="form-control" id="EditMeal_Desc"> </textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label text-lg">Meal Image:</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="EditMeal_MealIcon">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary " value="Update Meal" style="background-color: #FA640F;border: none;">
                            <button type="button" class="btn btn-secondary ml-auto text-light" style="background-color: #576A85;border: none;" data-dismiss="modal">Cancle</button>

                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

    <!--End Model 3-->


    <a class="float">
        <i data-toggle="modal" data-target=".bd-example-modal-lgse" class="fas fa-clock my-float" style="color: white;"></i>
    </a>
    <div class="modal fade bd-example-modal-lgse" id="ActionCustomerDetailsBookingTable" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-light">
                    <h5 class="modal-title pb-2 " id="myLargeModalLabel">
                        <p class="textstayle"> A<span>ll</span> U<span>ser</span> B<span>ooking</span> T<span>able</span> </p>
                    </h5>
                    <button type="button" class="close border-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <hr>
                    <h5>Booking details</h5>
                    <hr>

                    <table class="table table-striped table-responsive-sm bg-light text-center mt-0" id="BookingTableIUser" style="width:100% ; background-color: #FFFFFF;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Order Detail</th>
                                <th>Booking Date</th>


                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>


            </div>
        </div>
    </div>

    <!--BookingTableOrderDetails-->


    <div class="modal fade bd-example-modal-lg" id="BookingTableOrderDetails" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-light">
                    <h5 class="modal-title pb-2 " id="myLargeModalLabel">
                        <p class="textstayle">O<span>rder</span> N<span>umber :</span> # <span id="BookTableordre_number"> 1</span> </p>
                    </h5>
                    <button type="button" class="close border-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <hr>
                    <h5>Order Direction</h5>
                    <hr>
                    <ul style="list-style: none;">
                        <li id="BookTablecustomerName">Name: </li>
                        <li id="BookTablecustomerPhone">phone: </li>
                        <li id="BookTablecustomerAddress">Address: </li>
                        <li id="BookTablecustomerPayment">payment type: </li>
                        <li id="BookTablecustomerDelivary">delivary type: </li>
                        <ul style="list-style: none;">
                            <li id="BookTableTadleId">Table ID: </li>
                            <li id="BookTableNumPeople">Number People: </li>
                            <li id="BookTableTadledate">Book Date: </li>
                            <li id="BookTableTadletime">Book Time: </li>
                            <li id="BookTableTadlenote">Note: </li>
                        </ul>


                    </ul>
                    <hr>
                    <h5>Order Content</h5>
                    <hr>
                    <div class="row justify-content-between  bg-white " style="background-color:#576A85;margin-left: 0;margin-right: 0px;">

                        <div class="card-body table-responsive px-0 ">
                            <table class="table table-striped " id="TableUserOrderDetails" style="width:100% ; background-color: #FFFFFF;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Meal Prodect</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th> Total Price</th>

                                    </tr>

                                </thead>
                                <tbody id="mealOrderdetails"></tbody>



                            </table>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>













    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="<%=urlMain %>/js/jquery-3.3.1.min.js"></script>
    <script src="<%=urlMain %>/js/popper.min.js"></script>
    <script src="<%=urlMain %>/js/main.js"></script>
    <script src="<%=urlMain %>/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="<%=urlMain %>/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="<%=urlMain %>/js/dataTables.bootstrap4.min.js"></script>
    <script src="<%=urlMain %>/js/hullabaloo.js"></script>
    <script src="<%=urlMain %>/js/jquery.rateit.min.js"></script>
    <script src="<%=urlMain %>/js/fab.js"></script>
</body>

</html>