<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/cf4302401e.js" crossorigin="anonymous"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="Css/sheet.css" />
    <title>Login Page</title>
    <link rel="shortcut icon" href="image/food.png" />
    <style>
    input:focus{
        outline: none;
    }
    </style>
</head>

<body style="background-color: white">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-6" style=" text-align: center ; padding: 30px;margin-top: 30px">
                <p class="text-uppercase " style="font-size: 50px;font-weight: bold;color: #3E5474;display:inline-block; ">
                         <span style=" font-weight: bold;color: #FA640F;">A</span>dmin<span style=" font-weight: bold;color: #FA640F;">  L</span>ogin</p><br>
                        <img src="image/Admin/Admin.png" width="100" height="100" class="rounded-circle">
                    
                    
                   
            </div>
        </div>
       

<br><br>



            <div class="row">
                <div class="col">
                    <img style="opacity: 0.5; margin-left:50px;" src="image/dish2.png" width="130" height="130"alt="dish2">
                </div>
                <div class="col ">
                    <form method="POST" action="" >
                           <input  type="email" id=" emailuser" name="emailuser" class="r p-2  form-control"  placeholder="Email " autofocus style="font-size: 15px;text-indent: 10px; font-weight: bold;color: #3E5474;"><br><br>
                            <input  type="password"class="r p-2 form-control" id="passuser" name="passuser" placeholder="Password" style="font-size: 15px;text-indent: 10px; font-weight: bold;color: #3E5474;"><br>
                            <p style="margin: 25px;color: #3E5474; font-weight: bold"><a href="/forgetPassword" >Forget Password ?</a></p>
                            <button style=" position: relative;left: 50%; font-size: 20px;font-weight: bold;color: white;background-color:#FA640F ;border: 0;height: 45px;width: 140px;border-radius: 10px;margin-top: 30px; " type="submit" class="btn btn-info btn-sm">Login</button>
                        
                    </form>
                    
                </div>
               
                <div class="col" style="margin-left: 50px;">
                    <img style="opacity: 0.5; margin-left: 220px;" src="image/dish1.png" width="130" height="130"alt="dish2">
                </div>
             







              
            </div>
              
    </div>
    <script src="<%=urlMain %>/js/jquery-3.3.1.min.js"></script>
    <script src="<%=urlMain %>/js/popper.min.js"></script>
    <script src="<%=urlMain %>/js/main.js"></script>
    <script src="<%=urlMain %>/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="<%=urlMain %>/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="<%=urlMain %>/js/dataTables.bootstrap4.min.js"></script>
    <script src="<%=urlMain %>/js/hullabaloo.js"></script>
    <script src="<%=urlMain %>/js/jquery.rateit.min.js"></script>
    <script src="<%=urlMain %>/js/fab.js"></script>

</body>

</html>